#main {
  padding: 0;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

#content {
  margin: 17px 0;
}

.product-img {
  height: 300px;
  object-fit: cover;
}

.details-img {
  height: 400px;
  object-fit: cover;
}

#products .card {
  max-width: 290px;
}

.action-buttons {
  position: relative;
  bottom: 0;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

#product-header {
  padding: 0;
  margin-bottom: 20px;
}

#pagination {
  margin-top: 20px;
}

#user {
  position: relative;
  right: 20px;
}

#user img {
  width: 22px;
  margin-right: 5px;
  position: relative;
  top: -1px;
}

#logIn, #logOut {
  display: none;
}
