#main {
  padding: 0;
}

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 28px;
}

#content {
  margin: 17px 0;
}

.product-img {
  height: 300px;
  object-fit: cover;
}

.card {
  max-width: 290px;
}

.action-buttons {
  position: relative;
  bottom: 0;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
